#root {
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial;
  color: rgb(18, 148, 144);
}
body {
  /* add max-width so it wont stretch and look funny */
  max-width: 100%;
  min-height: 100vh;
  margin: 0;
  background-image: url(https://images.unsplash.com/photo-1640030655997-7062bf40b23b?w=400&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjY3fHxhYnN0cmFjdCUyMG9yYW5nZSUyMHB1cmxwZSUyMGFuZCUyMHRlYWwlMjBnYXJkZW58ZW58MHx8MHx8fDA%3D);
  background-repeat: no-repeat;
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 5%;
  background-color: rgb(18, 148, 144);
  position: fixed;
}
.linkTo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 250px;
}
.clickNav {
  text-decoration: none;
  color: rgb(244, 113, 42);
  margin: 5px;
  width: 50%;
}
.clickNav:hover {
  background-color: rgb(67, 21, 100);
  padding: 5px;
  border-radius: 5px;
}
.downloadBtn {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}
.contentContainer {
  margin: auto;
  width: 70%;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 17%;
  width: 100%;
  padding-top: 30px;
  /* background-color: rgb(244, 113, 42); */
  color: rgb(67, 21, 100);
}

.header h1 {
  margin-left: 15px;
  font-size: 4.5rem;
  text-shadow: -1px 1px 3px rgb(240, 235, 216, 0.5);
}
.logo {
  box-shadow: -1px 1px 3px rgb(240, 235, 216, 0.5);
  max-width: 100%;
  height: auto;
}
.about {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25%;
  /* background-color: rgb(240, 235, 216); */
}
.about p {
  /* width: 70%; */
  background-color: rgb(240, 235, 216, 0.5);
  padding: 5px;
  border-radius: 5px;
}
.projects {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25%;
  /* background-color: rgb(240, 235, 216); */
}
.carousel {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80%;
  background-color: rgb(240, 235, 216, 0.5);
  border-radius: 5px;
}
.carousel button {
  border: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 15px;
  padding: 5px;
  background-color: rgb(67, 21, 100);
  border-radius: 5px;
}
.contact {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 25%;
}
.form {
  width: 100%;
  margin: 15px 0;
  background-color: rgb(240, 235, 216, 0.5);
  border-radius: 5px;
}
.field {
  color: rgb(240, 235, 216);
  background-color: rgb(67, 21, 100);
  border: none;
  border-radius: 5px;
  resize: none;
  width: 50%;
}
.subBut {
  background-color: rgb(67, 21, 100);
  border-radius: 5px;
  color: rgb(118, 123, 145);
  border: none;
  width: 51%;
  margin-bottom: 15px;
}
.subBut:hover {
  background-color: rgb(244, 113, 42);
  color: rgb(18, 148, 144);
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5%;
  /* background-color: rgb(240, 235, 216); */
}
.footer p {
  width: 100%;
  background-color: rgb(18, 148, 144);
  color: rgb(244, 113, 42);
  padding: 5px;
  margin-bottom: 0;
  font-size: 10px;
}
@media screen and (max-width: 640px) {
  .header h1 {
    font-size: 2.5rem;
  }
  .field {
    width: 60%;
  }
  .subBut {
    width: 61%;
  }
}
@media screen and (min-width: 1100px) {
  .contentContainer {
    margin: auto;
    width: 60%;
  }
  .field {
    width: 40%;
  }
  .subBut {
    width: 41%;
  }
}
